@{
    ViewData["Title"] = "Inventory";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<body style="background-color: powderblue;">
    </body>
    <p>Use this area to provide additional information.</p>
