@{
    ViewData["Title"] = "Home Page";
}

<html>
    <body style="background-color: powderblue;">
        <center>
            <br /><br />
            <h1>CMPS 383 - Group 4 - Phase 1</h1>

            <h2> An Inventory Tracker </h2>

            <h3>
                Team Members:<br> <b>
                    <br>
                    Clinton Walker<br>
                    Martin Kraft<br>
                    Aayush Dahal<br>
                    Jeetandra Khadka <br>
                    Matthew Adams
                </b>
            </h3>

        </center>
</body>


</html>

         